asn1crypto==1.3.0
async-generator==1.10
attrs==19.3.0
cffi==1.14.0
coincurve==13.0.0
cytoolz==0.10.1
eciespy==0.3.5
eth-hash==0.2.0
eth-keys==0.3.1
eth-typing==2.2.1
eth-utils==1.8.4
hkdf==0.0.3
idna==2.9
-e git+https://github.com/willcl-ark/lnproxy.git@8d3e795b998e05e7261004bb7e7e3fb2081adb34#egg=lnproxy
outcome==1.0.1
pycparser==2.20
pycryptodome==3.19.1
pyln-client==0.8.0
secp256k1==0.13.2
sniffio==1.1.0
sortedcontainers==2.1.0
toolz==0.10.0
trio==0.13.0
